# Xmake cache
.xmake/
build/
vsxmake*/
CMakeLists.txt

# MacOS Cache
.DS_Store

GalaxyCore/GalaxyEngine.*
GalaxyCore/GalaxyCore.*
GalaxyCore/GalaxyCore
compile.*

*.dll
*.so
*.pdb
*.lib
/.vscode
*.a
GalaxyCore/GalaxyHeaderTool
Editor.settings
