# Xmake cache
.xmake/
build/
vsxmake*/

# MacOS Cache
.DS_Store

GalaxyCore/GalaxyEngine.*
GalaxyCore/compile.GalaxyEngine.pdb
GalaxyCore/GalaxyCore.*
GalaxyCore/compile.GalaxyCore.pdb

*.dll
*.pdb
*.lib